<header>
    <div class="headerBack">
    </div>
    <div class="navSpans">
        <div class="logoHolder">
            <a href="" class="logo">[at&amp;t home]</a>
            <a href="" class="logoHeader ">
                <!--<h1>[shop]</h1>-->
            </a>
        </div>
        <div class="clearIt"></div>
    </div>

</header>

<!-- AT&T Brand Logo and Background -->

<div id="brandSection" class="lockupBG">
    <!-- Adding logo -->
    <div id="logoArticle" class="pL15 pR15 pB15 pT48">
        <!-- if English -->
        <img src="content/images/global/lockup-en.png" alt=""/>
        <!-- if Spanish -->
        <!-- <img src="/myatt/html/policies/images/generic/lockup-es.png" alt="" /> -->
    </div>
</div>

<div class=" mT10 pL15 pR20 pT5 pB0 box_none lh">
    <form name="loginForm" class="css-form" novalidate ng-submit="login()">
        <div ng-show="errorText.length > 0">
            <ul>
                <li class="text-error" ng-repeat="text in errorText">{{text}}</li>
            </ul>
        </div>
        <div class="row-fluid">
            <label for="userId" class="span12">User ID</label>
        </div>
        <span class="text-error pull-right" ng-show="loginForm.userId.$error.required">Required!</span>
        <div id="userNameDiv" class="row-fluid">
            <input name="userId" id="userId" class="span12" type="text" placeholder="Enter User ID" rel="popover"
                   onclick="showPopover();" onblur="hidePopover();" ng-model="user.userId" required/>
            <a href="" onclick="clearIt('userId')"><i class="icon-remove pull-right overlayImage"></i></a>
        </div>

        <div id="userNamePopover" class="w100p gradWtoG4 custom-corner-all brdr1 ffAHSans fs12 mt-20 userNamePopover"
             rel="popover">
            <div class="row-fluid p5">
                If you don't have an AT&amp;T User ID, <a
                    href="https://www.att.com/olam/slidRegistrationAction.olamexecute"
                    class="ui-link">register now.</a>
                <br>
                <br>* Wireless phone number (###-###-####)
                <br>* U-verse Member ID (user1@att.net)
                <br>* Home Phone &amp; DSL Username (username1)
                <br>* AT&amp;T Access ID (username1)
            </div>
        </div>
        <div class="row-fluid">
            <label for="password" class="span12">Password</label>
        </div>
        <span class="text-error pull-right" ng-show="loginForm.password.$error.required">Required!</span>
        <span class="text-error pull-right" ng-show="loginForm.password.$error.minlength">Too Short!</span>
        <div class="row-fluid">
            <input name="password" id="password" class="span12" type="password" placeholder="Enter Password"
                   ng-model="user.password" ng-minlength="5" required />

            <a href="" onclick="clearIt('password')"><i class="icon-remove pull-right overlayImage"></i></a>
        </div>
        <div class="row-fluid posR pT15 fs14">
            <label class="checkbox ">
                <input type="checkbox"> Remember Me
            </label>

        </div>
        <div class="row-fluid">
            <div class="pT10 pB15 fwBold">
                                <span class="bRWh pR5">
                                    <a href="" rel="external" class="ui-link">Forgot ID</a>
                                    </span>
                <span class="fs16">|</span>
                                    <span class="pL5"><a class="ui-link" href="" rel="external">Forgot Password</a>
                                </span>
            </div>
        </div>
        <div class="row-fluid pT15 pB20 buttonBorder">
            <input type="submit" class="span12 btn btn-primary btn-large" value="Log In"/>
        </div>
    </form>
    <div>
          <span class="pull-right mT2 mB2">
                   <button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#debug-collapse">
                       Demo Only
                   </button>
          </span>

        <div id="debug-collapse" class="collapse">
            <p>loginForm.password.$valid = {{loginForm.password.$valid}}</p>
            <p>loginForm.password.$error = {{loginForm.password.$error}}</p>
            <p>loginForm.$valid = {{loginForm.$valid}}</p>
            <p>loginForm.$pristine = {{loginForm.$pristine}}</p>
            <p>Custom variable "errorText" = {{errorText}}</p>
        </div>
    </div>
</div>

<footer>
    <div id="footerNav" class="component">
        <div class="ui-grid-b">
            <div class="ui-block-a footerTab1">
                <p>
                    <a href="">ATT.NET</a>
                </p>
            </div>
            <div class="ui-block-b footerTab2">
                <p>
                    <a href="">BUSINESS</a>
                </p>
            </div>
            <div class="ui-block-c footerTab3">
                <p>
                    <a href="">ABOUT AT&amp;T</a>
                </p>
            </div>

        </div>
    </div>
    <div id="footerBtm" class="component">
        <ul>
            <li><a href="//www.att.com/">FULL SITE</a></li>
            <li><a href="../global/contactUs.html">CONTACT US</a></li>
            <li><a href="http://www.att.com/gen-mobile/privacy-policy?pid=2506">LEGAL</a></li>
        </ul>
        <ul>
            <li><a href="http://www.att.com/gen-mobile/privacy-policy?pid=2506">PRIVACY</a></li>
            <li><a href="http://www.att.com/gen-mobile/general?pid=11561">TERMS OF USE</a></li>
        </ul>
        <p>
            <a href="http://www.att.com/gen-mobile/privacy-policy?pid=2587">[&copy; 2012 AT&amp;T Intellectual
                Property.</a> All rights reserved.]
        </p>
    </div>
</footer>
